<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>convertisseur</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="../Converter/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body   ng-app="myApp" ng-controller="myController">
    <div class="container">
        <h1>Convertisseur</h1>
        <input type="text" placeholder="Decimal" ng-model="decimal">
        <input type="text" placeholder="Binary" ng-model="binary">
        <input type="text" placeholder="octal" ng-model="octal">
        <input type="text" placeholder="Hexa" ng-model="hexa">

    </div>
</body>
</html>