body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    height: 100vh;
  display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
    background: rgba(0, 0, 0, 0.7);
}

body:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    transform: skew(-30deg) translateX(450px);
    z-index: -1;
    background: #ffae00
}

.d-flex {
    display: flex;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

.containers {
    min-width: 750px;
    min-height: 500px;
    background: linear-gradient(360deg, #000000, #253440);
    padding: 50px 50px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 1px 15px black
}

.containers table {
    background: white
}

h3 {
    margin-bottom: 20px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px black
}

label {
    text-shadow: 0px 0px 0px black;
    color: white
}

input[type='text'] {
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
    background: #253440;
    color: white
}

input[type='text']:focus {
    border: none;
    outline: none;
}

select {
    border: none!important;
    outline: none!important;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
    background: #253440!important;
    color: white!important;
}

.withForm {
    background: #253440;
    margin-bottom: 2em;
    padding: 3em;
    border-radius: 18px;
    border: 1px solid white;
}

.withForm input[type='submit'] {
    margin-top: 2em;
    background: #222;
    color: white;
    border: 1px solid black
}

.withForm input[type='submit']:hover {
    background: #333
}

.tableHolder {
    height: 200px!important;
    overflow-y: auto;
}

.withForm input[type=text] {
    width: 80%;
}

.withForm div div {
    width: 33%
}

.withForm div.buttn {
    width: 15%;
    margin-left: 5%
}

.containers table {
    color: white;
    background: #253440;
}